/* .errors{
  color: firebrick;
  animation: jump 1s infinite;
}
@keyframes jump {
  0% {margin-left:0px}
  50% {margin-left:100px}
  100% {margin-left: 0px}
} */

.table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

